@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.app,
.content {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

/* Example of correct paths */
/* @import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-grids/styles/material.css'; */

